[submodule "addon/Catpuccin-Addon"]
	path = addon/Catpuccin-Addon
	url = https://github.com/SMARK2022/catppuccin-addon
	branch = 1.21.8-smark
[submodule "addon/meteor-villager-roller"]
	path = addon/meteor-villager-roller
	url = https://github.com/SMARK2022/meteor-villager-roller
	branch = 1.21.8-smark
[submodule "addon/meteor-rejects"]
	path = addon/meteor-rejects
	url = https://github.com/SMARK2022/meteor-rejects.git
	branch = master
[submodule "addon/Lotus-Repackage"]
	path = addon/Lotus-Repackage
	url = https://github.com/SMARK2022/Lotus-Repackage.git
	branch = master
